<div ng-controller="module1_controller" class="container">
    <div class="card-group">
        <div class="card-header col-lg-6">
            <h1>[[${name}]]</h1>
        </div>
    </div>
     <br>
    <form>

        <div class="form-group col-lg-4">
            <input class="form-control"
                   id="myForm_code"
                   name="myForm_code"
                   type="text"
                   tabindex="1"
                   ng-model="myForm.code"/>
        </div>
        <div class="form-group col-lg-4">
            <input class="form-control"
                   id="myForm_description"
                   name="myForm_description"
                   type="text"
                   tabindex="2"
                   ng-model="myForm.description"/>
        </div>
        <div class="form-group col-lg-4">
            <input class="form-control"
                   id="myForm_name"
                   name="myForm_name"
                   type="text"
                   tabindex="3"
                   ng-model="myForm.name"/>
        </div>
        <button type="button" class="btn btn-primary" ng-click="getRestTest()">Get Info</button>
    </form>

</div>